@{
    ViewData["Title"] = "Home Page";
}

@{
    @using _4Bugs.Controllers
   // MambuController.transfer("8a8e862a7217508901721e4c9b8b3717", "8a8e862a7217508901721ea642ff383f" ,50);
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
